body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
  }
  h2 {
    color: #00BFFF;
  }
  canvas {
    border: 1px solid #44475a;
    cursor: crosshair;
  }
  #menu {
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 10;
  }
  .hidden {
    display: none;
  }
  #tables {
    margin-top: 20px;
  }
  table {
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #1E1E2E;
    border: #555770;
  }
  table th, table td {
    padding: 5px 10px;
    color: #D7D7E0;
  }

  .legend-item {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
  }

  
  .legend-item.triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid green;
    background: none;
  }
  
  .dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 200px;
    z-index: 1000;
  }
  
  .dropdown-button {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
  }
  
  .menu {
    display: none; /* по умолчанию скрыто */
    max-height: 200px;
    overflow-y: auto;
  }
  
  .menu-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #e0e0e0;
  }

  #controls {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    background-color: #1E1E2E;
    color: #D7D7E0;
    border: 1px solid #555770;
    border-radius: 5px;
  }
  #controls label {
    margin-right: 10px;
  }
  #controls input, #controls textarea {
    margin-bottom: 10px;
  }
  
  h3 {
    color: #00BFFF;
  }

  #totalOutageCost {
    color: greenyellow;
  }